/****** PERSONALIZED DEFAULT ******/

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3.0em
}

h3 {
    font-size: 2.5em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    max-width: 100%;
    /*margin: 0 auto;*/
    /*padding: 0;*/
}

.pics {
    width: 170px;
    height: 170px;
}

#photos {
    width: 980px;
    margin: auto;
}

#photos li {
    display: inline-block;
    margin-right: 60px;
    margin-top: 60px;
}

.box {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}


input[type="text"] {
    width: 480px;
    height: 50px;
    border: 3px solid lightgray;
    border-radius: 5px;
    text-indent: 10px;
}



/******* LIGHTBOX ********/

#overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

#overlay img {
    margin-top: 15%;
}

#overlay p {
    color: #fff;
}





/********* LEFT AND RIGHT ARROWS FOR LIGHTBOX *********/

/*#header {
    width: 100%;
    height: 56px;
    background-color: black;
}

#menu {
    color: #fff;
}

#wrapper {
    width: 980px;
    min-height: 500px;
    margin: 0px auto;
}

#main:hover {
    cursor: pointer;
}

#portfolio {
    list-style-type: none;
}

#portfolio li {
    display: inline-block;
    margin-left: 60px;
    margin-top: 60px;
}

#portfolio li img {
    width: 250px;
    height: 250px;

}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
}

#frame {
    position: fixed;
    display: none;
    left: 50%;
    background-color: #fff;
    width: 700px;
    height: 500px;
    margin-left: -350px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

#frame img {
    width: 660px;
    margin-left: 20px;
}

#frame-table {
    position: absolute;
    width: 660px;
    margin-left: 20px;
}

#main{
    width: 660px;
    margin-left: 20px;
}

#right {
    float: right;
}

#right, #left {
    position: relative;
    top: 150px;
}*/

